
#selectorcontainer { width: 1000px; text-align: right; margin: auto auto; position: relative; } 
h1 { font-size: 32px; margin-bottom: 0;    
    font-weight: bold;
}	
h2 { font-size: 18px; margin-top: 0; margin-bottom: 0; font-weight: bold;
	    -webkit-margin-before: 0.43em;
	    -webkit-margin-after: 0.43em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
}
h4 { 
	margin: 0 auto; font-weight: normal; width: 500px;font-size: 11px;display: block;
}
h3 { 
	float:left; font-weight: normal; font-size: 16px;display: inline-block;
}
div{
	text-align: center;
}
#about a{
	font-size: 14px;
}
#about { position: absolute; top: 924px; right: 0; font-size: 9px; }
#about a, #about a:link, #about a:active { font-weight: normal; text-decoration: none; cursor: pointer; color: #000; }
#about a:hover { color: #F9786C; }
ul { list-style: none; padding: 0; margin: 0; display: inline-block; position: absolute; z-index: 100; right: 0px; top: 30px; }
select { position: absolute; right: 0px; top: 924px; }
a:hover { color: #F9786C; text-decoration: underline; }	
li { text-align: left; }
li span { display: inline-block; text-align: right; margin-right: 5px; }
.active { color: #000; font-weight: bold; text-decoration: none; cursor: default; }
.active:hover { text-decoration: none; color: #000; }